* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.logo {
    width: 11rem;
    filter: drop-shadow(0 .5px .5px rgb(255, 255, 255)); 

}



li {
    filter: drop-shadow(0 .05px .05px rgba(255, 255, 255, 0.699)); 
    display: inline-block;
    margin: 10px;
    cursor: pointer;
}

